<md-dialog aria-label="Create New Card">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create New Card</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
            <label for="name">
                Name:
            </label>
            <input class="md-input" type="text" id="name" data-ng-model="newCard.name" required>
        </md-input-container>
        <md-input-container>
            <label for="description">
                Description:
            </label>
            <input class="md-input" type="text" id="description" data-ng-model="newCard.description" required>
        </md-input-container>
        <md-input-container>
            <label for="startDate">
                Start Date:
            </label>
            <md-datepicker id="startDate" data-ng-model="newCard.startDate">
        </md-input-container>
        <md-input-container>
            <label for="endDate">
                End Date:
            </label>
            <md-datepicker id="endDate" data-ng-model="newCard.endDate" required>
        </md-input-container>
        <md-input-container>
            <label for="assignees">
                Assignee(s)
            </label>
            <md-select data-ng-model="newCard.ass" id="assignees" md-on-open="loadAssignees()" multiple>
                <md-optgroup label="Users">
                    <md-option data-ng-value="user" data-ng-repeat="user in users">
                        {{user}}
                    </md-option>
                </md-optgroup>
                <md-optgroup label="Groups">
                    <md-option data-ng-value="group" data-ng-repeat="group in groups">
                        {{group}}
                    </md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label for="estimatedTime">
                Estimated Time (hr):
            </label>
            <input class="md-input" type="number" id="estimatedTime" data-ng-model="newCard.estimatedTime" required>
        </md-input-container>
        <md-input-container>
            <label for="actualTime">
                Actual Time (hr):
            </label>
            <input class="md-input" type="number" id="actualTime" data-ng-model="newCard.actualTime">
        </md-input-container>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>