<md-toolbar>
    <div class="md-toolbar-tools" ng-cloak>
        <md-button data-ng-click="Home();" style="height: 100%;" class="md-secondary">
            <md-icon class="material-icons">home</md-icon>
            <md-tooltip md-direction="bottom">
                Home
            </md-tooltip>
        </md-button>
        <h2>{{project.name}}</h2>
        <md-fab-speed-dial class="md-fling">
            <md-fab-trigger>
                <md-button aria-label="menu" style="height: 100%;" class="md-secondary" data-ng-click="Edit()">
                    <md-icon class="material-icons">settings</md-icon>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>
        <span flex="" class="flex"></span>
        <md-button data-ng-click="showStateCreator()" class="md-secondary md-raised" style="width: 110px;">Add State</md-button>
        <md-button data-ng-href="/logout" class="md-secondary md-raised" style="width: 110px;">Logout</md-button>
    </div>
</md-toolbar>
<div class="lock-size" layout="row" layout-align="center center" ng-cloak>
</div>
    <style>
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        ul.draggable-objects:after {
            display: block;
            content: "";
            clear: both;
        }
        .draggable-objects li {
            float: left;
            display: block;
            width: 120px;
            height: 100px;
        }
        [ng-drag].drag-over {
            border: solid 1px red;
        }
        [ng-drag].dragging {
            opacity: 0.5;
        }
        [ng-drop] {
            background: rgba(0, 255, 0, 0.5);
            text-align: center;
            /*width: 48%;*/
            min-height: 200px;
            display: inline-block;
            margin: 20px auto;
            position: relative;
            vertical-align: top;
            margin-left: 30px;
            margin-right: 30px;
        }
        [ng-drop].drag-enter {
            border: solid 5px red;
        }
        [ng-drop] div {
            position: relative;
            z-index: 2;
        }
    </style>
</head>

<div style="position: inline-block; margin-top: 3em;" layout="row" layout-wrap>
    <div flex="90" flex-md="40" flex-gt-md="30" layout-wrap ng-repeat="state in project.states" ng-drop="true" ng-drop-success="onDropComplete(state.name,$data,$event)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 flex="" class="flex" style="text-align: center;">{{state.name}}</h3>
                <md-button data-ng-click="showCardCreator(state.name, $event)" md-ink-ripple="false">
                    <md-icon class="material-icons">add</md-icon>
                </md-button>
            </div>
        </md-toolbar>   
        <md-card ng-repeat="card in cardsByStates[state.name]" ng-drag="true" ng-drag-data="card"
                ng-drag-success="onDragSuccess(state.name,$data,$event)" ng-center-anchor="{{centerAnchor}}"
                data-ng-click="showCardEditor(card._id, $event);return(0);">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{card.name}}</span>
                    <span class="md-subhead">{{card.description}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</div>
