<md-button data-ng-click="showStateCreator()" class="md-primary md-raised">Add State</md-button>
<md-button ng-href="/logout" class="md-primary md-raised">Logout</md-button>
    <style>
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        [ng-drag] {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        [ng-drag] {
            width: 80%;
            height: 100px;
            background: rgba(255, 0, 0, 0.5);
            color: white;
            text-align: center;
            padding-top: 40px;
            display: inline-block;
            margin: 0 10px;
            cursor: move;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        ul.draggable-objects:after {
            display: block;
            content: "";
            clear: both;
        }
        .draggable-objects li {
            float: left;
            display: block;
            width: 120px;
            height: 100px;
        }
        [ng-drag].drag-over {
            border: solid 1px red;
        }
        [ng-drag].dragging {
            opacity: 0.5;
        }
        [ng-drop] {
            background: rgba(0, 255, 0, 0.5);
            text-align: center;
            width: 40%;
            min-height: 200px;
            display: inline-block;
            margin: 20px auto;
            position: relative;
            vertical-align: top;
            margin-left: 30px;
            margin-right: 30px;
        }
        [ng-drop].drag-enter {
            border: solid 5px red;
        }
        [ng-drop] span.title {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 20px;
            margin-left: -100px;
            margin-top: -10px;
        }
        [ng-drop] div {
            position: relative;
            z-index: 2;
        }
    </style>
</head>

<!-- <ul class="draggable-objects">
    <li ng-if="true" ng-hide="true">
        <div ng-drag="true" ng-drag-data="{name:newCard.name}" data-allow-transform="true">{{newCard.name}}</div>
    </li>
</ul> -->

<hr/>
<div ng-repeat="state in project.states" ng-drop="true" ng-drop-success="onDropComplete(state.name,$data,$event)" data-ng-click="showCardCreator(state.name, $event)">
    <md-toolbar >
        <span class="title">{{state.name}}</span>
    </md-toolbar>   
    <md-card ng-repeat="card in project.states[project.states.indexOf(state)].cards" ng-drag="true" ng-drag-data="card"
            ng-drag-success="onDragSuccess(state.name,$data,$event)" ng-center-anchor="{{centerAnchor}}">
        {{card.name}}
    </md-card> 
</div>