<!doctype html>
<html>

<head>
    <title>Hacker Tracker Signup</title>
    <link rel="stylesheet" href="/angular-material/angular-material.min.css">
    <style>
        h1.md-headline {
            font-size: 36px!important;
        }
        #page-loading {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
        }
        .hidden {
            display: none;
        }
    </style>
</head>

<body ng-app="HackerTracker" ng-controller="signupController" layout="row">
    <div id="page-loading">
        Loading...
    </div>
    <div layout="column" flex id="main-content" role="main" class="hidden">
        <md-content layout="vertical" flex id="content" style="background:url(http://www.networkingdelaware.com/images/Cloud_Background%20first.png)">
            <div layout="row" layout-align="center center" layout-fill>
                <md-whiteframe class="md-whiteframe-z5" layout="column" flex="50" layout-padding>
                    <md-toolbar class="layout-align-center-center">
                        <h1 class="md-headline">Hacker Tracker</h1>
                    </md-toolbar>
                    <md-content>
                        <form class="form-bordered form-horizontal" ng-submit="signup();" novalidate>
                            <md-input-container class="md-block">
                                <label for="userName">
                                    User Name:
                                </label>
                                <input class="md-input" type="text" id="userName" data-ng-model="userName" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="password">
                                    Password:
                                </label>
                                <input class="md-input" type="password" id="password" data-ng-model="password" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="email">
                                    Email:
                                </label>
                                <input class="md-input" type="email" id="email" data-ng-model="email" required>
                            </md-input-container>
                            <input type="submit" id="submit" value="Submit" style="display: none;" />
                        </form>
                        <button class="md-raised md-primary md-button" data-ng-click="signup();">Signup</button>
                        <span>Already registered ? Click here to <a href="/login">Login</a></span>
                    </md-content>
                </md-whiteframe>
            </div>
        </md-content>
    </div>

    <script src="/angular/angular.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/preLoginApp.js"></script>
    <script src="/controllers/signupController.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            var loaderElement = document.getElementById("page-loading");
            loaderElement.parentNode.removeChild(loaderElement);
            var mainContent = document.getElementById("main-content");
            mainContent.classList.remove('hidden');
        });
    </script>
</body>

</html>